* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {

    text-decoration: none;

}

body {
    background-color: #363636;
    font-family: 'Roboto', sans-serif;

}

.container {

    text-align: center;
    width: 350px;
    margin: 60px auto;
    margin-top: 30px;
    margin-bottom: 5px;

}

img {

    width: 75%;

}

.FotoPerfil {

    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 3.7px;
    border: 6px #000000 solid;

}

ul {

    list-style: none;
    margin: 48px;

}

h1 {

    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 40px;

}

p {

    font-size: 22px;
}

ul li a {

    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    text-transform: uppercase;

    margin-bottom: 20px;
    border-radius: 10px;

    transition: background 400ms;

}

ul li a:hover {

    background: #4F4F4F;

}

.logoVictor {

    border-radius: 15px;
    height: 120px;
    width: 400px;
    margin-left: -25px;

}